.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--ff-primary);

  &--primary {
    justify-content: center;
    width: 28rem;
    padding: 2.3rem 0;
    background-image: linear-gradient(90deg, #013773 0%, #4B84F1 100%);
    color: var(--color-white);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 80px;
    border: none;
  }

  &--secondary {
    flex-shrink: 0;
    text-align: left;
    height: 6rem;
    min-width: 16rem;
    padding: 0 2rem;
    border: 1px solid var(--color-grey-2);
    border-radius: 10px;
    background-color: var(--color-white);
    color: var(--color-dark-blue);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
  }

  &--tertiary {
    background: linear-gradient(360deg, #013773 -88.33%, #4B84F1 100%);
    color: var(--color-white);
    border-radius: 10px;
    height: 4rem;
    width: 15rem;
    justify-content: center;
    border: none; 
    font-weight: 800;
    
  }
}
