.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 500;
    color: var(--color-dark-blue);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
    padding-right: 2rem;
  }

}

