:root {
  --color-blue: #0393e1;
  --color-light-blue: #0D89CD;
  --color-dark-blue: #266be1;
  --color-dark-blue-2: #0d77cd;
  --color-purple: #b566ff;
  --color-grey-1: #8793ac;
  --color-grey-2: #b0b8da;
  --color-grey-3: #ECF0F9;
  --color-grey-3--40: #ECF0F966;
  --color-grey-4: #F3F5FB;
  --color-grey-5: #F7F9FD;
  --color-white: #ffffff;
  --color-black-1: #000000;
  --color-black-2: #444b59;
  --color-black-3: #222222;
  --color-red: #F24923;
  --color-green: #21B25B;
  --color-yellow: #E1A200;

  --ff-primary: 'Nunito', sans-serif;
}
